---
import { Icon } from "astro-icon/components";

const navbarItems = [
  {
    title: "Inicio",
    url: "home",
  },
  {
    title: "Acerca de mi",
    url: "aboutme",
  },
  {
    title: "Proyectos",
    url: "projects",
  },
  {
    title: "Experiencia",
    url: "experience",
  },
  {
    title: "Formación",
    url: "training",
  },
  {
    title: "Investigación",
    url: "research",
  },
  {
    title: "Contacto",
    url: "contactme",
  },
];
---

<div class="hidden" id="side-menu">
  <nav
    class="w-full h-[calc(100vh-70.8px)] bg-white fixed top-[70.8px] uppercase text-text-color font-bold text-lg shadow-2xl flex flex-col justify-between"
  >
    <ul>
      <li>
        <Icon name="moon" size={20} />
        Modo Oscuro
      </li>
      <li>
        <Icon name="language" size={20} />
        Cambiar Idioma
      </li>
    </ul>
    <ul>
      {
        navbarItems.map((item) => (
          <li>
            <a href={`#${item.url}`} aria-label={item.url}>
              {item.title}
            </a>
          </li>
        ))
      }
    </ul>
    <a
      href="pdf/CV.pdf"
      target="_blank"
      rel="noopener noreferrer"
      class="block text-center text-white px-4 bg-primary py-2">Descargar CV</a
    >
  </nav>
</div>

<style>
  @reference "../../styles/global.css";
  ul {
    @apply flex flex-col items-end [&>li]:py-4 [&>li]:px-2 [&>li]:flex [&>li]:w-full [&>li]:items-center [&>li]:justify-end [&>li]:gap-2 [&>li]:border-t-2 [&>li]:border-text-color/30 [&>li:last-child]:border-b-2;
  }
</style>
