---
const experience = [
  {
    title: "Desarrollador Web",
    place: "Colegio Mayor de Antioquia",
    date: "Diciembre 2023 - Diciembre 2024",
    description:
      "Diseñé e implementé una aplicación web intuitiva para la gestión de información académica, colaborando con un equipo UX/UI para optimizar la experiencia del usuario. Implementé funcionalidades clave, como un sistema de autenticación robusto y una base de datos no relacional para mejorar el rendimiento. Lideré el despliegue en un servidor Ubuntu Server utilizando Docker y Nginx, garantizando seguridad y acceso estable. Apliqué las buenas prácticas en desarrollo de código y manejo de repositorios para asegurar la escalabilidad y mantenibilidad del proyecto.",
  },
  {
    title: "Desarrollador Web e IoT",
    place: "Instituto Tecnólogico Metropolitano",
    date: "Marzo 2023 - Diciembre 2023",
    description:
      "Participe en el proyecto Smartgrow, desarrollando una aplicación web para gestionar y monitorear cultivos hidropónicos, permitiendo la visualización y almacenamiento en tiempo real de variables agroclimáticas. Implementé sensores agroambientales económicos para hacer el sistema accesible y preciso, utilizándolo exitosamente en cultivos de cannabis en Guarne, Antioquia. Trabajé con ingenieros electrónicos y mecatrónicos bajo metodologías ágiles como SCRUM, optimizando tiempos y mejorando la comunicación del equipo.",
  },
];
---

<section id="experience" class="px-4 py-16">
  <h2 class="uppercase font-bold text-5xl tracking-widest text-center">
    Experiencia
  </h2>
  <div class="bg-primary w-[48px] h-[5px] rounded-full mx-auto mt-5"></div>

  <ul class="w-full mt-8 max-w-screen-lg mx-auto">
    {
      experience.map((item) => (
        <li>
          <div class="relative ml-12 pb-12 grid before:absolute before:left-[-33px] before:block before:h-full before:border-l-2 before:border-primary before:content-[''] md:grid-cols-2 md:gap-10 md:space-x-4">
            <div class="relative pb-4 lg:pb-12 ">
              <div class="sticky top-0 ">
                <span class="text-primary -left-[41.5px] absolute rounded-full text-6xl">
                  &bull;
                </span>

                <h3 class="text-3xl lg:text-4xl font-bold text-primary">
                  {item.title}
                </h3>
                <h4 class="text-base lg:text-lg text-primary">{item.place}</h4>
                <time class="p-0 m-0 text-text-color text-base lg:text-lg">
                  {item.date}
                </time>
              </div>
            </div>
            <div class="relative flex flex-col gap-2 pb-4 text-text-color lg:text-2xl ">
              <p>{item.description}</p>
            </div>
          </div>
        </li>
      ))
    }
  </ul>
</section>
